.collapsible {
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	background-color: rgba(0,0,0,0);
}

.content {
	padding: 15 18px;
	display: none;
	overflow: hidden;
}

.cards {
	background-image: url(Images/Design/Background.png);
	margin: 20px;
}