blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
blockquote {
    padding-top: 15px;
    background-color: #FDF1DC;
    border-style: solid;
    border-width: 10px;
    border-image: url(Images/Design/OrangeStatDivider.png)10;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: MrJeeves;
    font-weight: 800;
    color: #58180D;
	font-size: .705cm;
	margin:0px;
}

em {
    font-style: italic;
}

p {
	margin-top : 0px;
	margin-bottom : 0px;
    display: block;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}

hr {
	visibility: visible;
    height: 6px;
    margin: 4px 0px;
    background-image: url(Images/Design/RedStatDivider.png);
    background-size: 100% 100%;
    border: none;
}

strong {
    font-weight: bold;
}

li {
    text-align: -webkit-match-parent;
	color: #58180D;
}

.monsterac {
	margin-bottom: .5em;
    padding-left: 1em;
    text-indent: -1em;
    list-style-type: none;
}
.monsterdata {
	margin-bottom: .5em;
    padding-left: 1em;
    text-indent: -1em;
    list-style-type: none;
}

.wrapper{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.listing {
	overflow-y:scroll;
	padding-right: 40px;
}
.actions {
	font-family: ScalySans;
    font-weight: 400;
    border-bottom: 1px solid #58180D;
    margin-top: .2em;
    margin-bottom: .2em;
}
.stats{
	color: #58180D;
}
table {
	font-size:inherit;
	width:100%
}